/ProgettoInfo2023/progettoInfo_finale_finale/build/
/ProgettoInfo2023/progettoInfo_finale_finale/dist/
/ProgettoInfo2023/progetto info finale/build/
/ProgettoInfo2023/progetto info finale/nbproject/private/
